section {
  max-width: 600px !important;
}

.quesNumber {
  color: rgb(96, 214, 0);
}

.question {
  display: flex;
  justify-content: space-between;
}

.quizCard {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.end {
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
}
